.input-buttons {
  --btn-size: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-buttons .action-buttons {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, var(--btn-size));
}
.input-buttons .btn-action button {
  background-color: #dbe2ef;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: var(--btn-size);
  margin-bottom: 8px;
  padding: 0;
  width: var(--btn-size);
}
.input-buttons .btn-action button:hover {
  background-color: #cbd5e8;
}
.input-buttons .btn-action img {
  filter: brightness(0) saturate(100%) invert(42%) sepia(44%) saturate(641%)
    hue-rotate(172deg) brightness(91%) contrast(93%);
  height: 40px;
  width: 40px;
}
.input-buttons .btn-action p {
  color: #3f72af;
  font-size: 0.875rem;
  margin: 0;
  text-align: center;
}
.input-buttons .number-buttons {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, var(--btn-size));
  grid-template-rows: repeat(3, var(--btn-size));
}
.input-buttons .btn-number {
  background-color: #dbe2ef;
  border: none;
  border-radius: 8px;
  color: #3f72af;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0;
}
.input-buttons .btn-number:hover {
  background-color: #cbd5e8;
}
.input-buttons .btn-new-game {
  background-color: #3f72af;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  height: var(--btn-size);
  padding: 0;
  width: 100%;
}
.input-buttons .btn-new-game:hover {
  background-color: #4b7fbe;
}
