.cell {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  font-size: 1.5rem;
  height: 44px;
  justify-content: center;
  user-select: none;
  width: 44px;
}
.cell-notes {
  background-color: #fff;
  border: 1px solid #000;
  color: hsl(0, 0%, 50%);
  display: grid;
  font-size: 0.75rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 44px;
  place-items: center;
  user-select: none;
  width: 44px;
}
@media screen and (max-width: 420px) {
  .cell {
    font-size: 5vw;
    height: 10vw;
    width: 10vw;
  }
  .cell-notes {
    font-size: 2.5vw;
    height: 10vw;
    width: 10vw;
  }
}
