.info {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.info h2 {
  margin-top: 0;
}
.info .info-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  flex: 0.3;
  margin: 0 0.5rem;
  padding: 1rem;
}
@media screen and (max-width: 700px) {
  .info {
    display: block;
    padding: 1rem 0;
  }
  .info .info-card {
    margin: 1rem;
  }
}
