.App .game {
  margin: auto;
  width: fit-content;
}
.App .game-display {
  display: flex;
}
.App .game-info {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.App .info-container {
  display: flex;
  margin-right: 1rem;
}
.App .info-difficulty {
  margin-right: 1rem;
}
.App .info-hints {
  margin-right: 1rem;
}
.App .sudoku {
  margin-right: 2rem;
}
.App .win-msg {
  font-size: 1.5rem;
  margin: 2rem 0;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .App .game-display {
    display: block;
    text-align: center;
  }
  .App .game-info {
    justify-content: center;
    padding: 0 0.5rem;
  }
  .App .sudoku {
    margin: 0 0 0.5rem;
  }
}
