.App .game {
  margin: auto;
  width: fit-content;
}
.App .game-display {
  display: flex;
}
.App .game-info {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.App .sudoku {
  margin-right: 2rem;
}
.App .win-msg {
  text-align: center;
}
